.navbar_align{
    margin: 0px;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 0;
    border: 0;
    padding: 15px 0 10px 0;
    
}

.navbar :nth-of-type(5){
    flex-grow: 1;
}

.navbar a{   
    color: #FBFFF1;
    text-decoration: none;
    margin: 0;
    padding: 10px 20px ;
    font-size: 20px;
}

#heading{
    color:  #c1211e;
    padding: 0 0 0 20px;
    font-weight: 700;
    font-size: 20px;
    width: 180px;
}

.navbar a:hover{
    background-color: #331832 ;
    color: #f64349;
}

input{
    border-radius: 25px;
    padding: 0 20px;
    border-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    margin-right: 20px;
    height: 30px;
    width: 60px;
}

body{
    background-color: #f9e2e2;
    margin: 0px;
}

.book_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image_container{
    height: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.image_container img {
    width: 350px;
    height: 500px;
}
  
.right_pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
  
.right_pane h2 {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}

.right_pane h3{
    text-align:center;
    margin-top: 0;
    font-size: 22px;
    font-family: sans-serif;
}

.right_pane p {
    font-size: 18px;
    font-family: sans-serif;
    width:600px;
}

.quote{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.retailers{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.retailers h4{
    text-align: left;
    font-size: 22px;
    font-family: sans-serif;
    width: 600px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    text-align: center;

}

.retailers a{
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
    color: black;
    background-color: #f9e2e2;
    padding: 10px 20px;
    border: 1px solid;
    font: 18px brandon-grotesque,sans-serif;
    cursor: pointer;
    }

    .retailers a:hover{
        background-color:  #102833; 
        color: #FBFFF1;
    }

.summary{
    margin-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.summary h3{
    text-align: left;
}

.quote_dialogue{
    text-align: center;
}

.summary_body{
    text-align: justify;
}
