
.navbar ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    flex-direction: row;
    justify-content:flex-start;
    margin: 0;
    border: 0;
    padding: 15px 0 10px 0;
    position: sticky;

}



.navbar :nth-of-type(5){
    flex-grow: 1;
}



.navbar a{
    color: #FBFFF1;
    text-decoration: none;
    margin: 0;
    padding: 10px 30px 10px 30px ;
    font-size: 20px;
}

#heading{
    color:  #c1211e;
    margin: 0;
    padding: 0 0 0 20px;
    font-weight: 700;
    font-size: 20px;
    width: 180px;
}

.navbar a:hover{
    background-color: #331832 ;
    color: #f64349;

}
body{
    margin: 0;
}

input{
    border-radius: 25px;
    padding: 0 20px;
    border-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    margin-right: 20px;
    height: 30px;
    width: 60px;
}
