.navbar ul,input{
    list-style-type: none;
    background-color: #000000;
     margin:0;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    padding-left: 124px;
    padding-right: 32px;
    margin-left: 0;
    border-left: 0;
    border-right: 0;
    margin-right: 0;
    
}

.navbar{
    position: fixed;
    right:0px;
    z-index: 1;
    top: 0px;
}


.navbar a,input{
    color: #FBFFF1;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    padding-right: 40px;
    padding-left: 40px;
    display: block;
    text-align: center;
    font-weight: 700;
    margin: 0;
    
}

input{
    border-radius: 25px;
    padding:10px 20px;
    margin: 5px 5px 5px 390px;
    height:20px;
    width: 80px;

}

.navbar a:hover{
    background-color: #331832 ;
    color: #f64349;

}

.navbar li{
    float: left;
    
}

#heading{
    color:  #c1211e;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    padding-right: 50px;
    padding-left: 10px;
    display: block;
    text-align: center;
    font-weight: 700;
    margin: 0;
   
}
body {
    background-color: #f9c6c7;
    margin: 0; /* Remove default margin */
}

h1{
    padding-top: 80px;
    background-color: #f9c6c7;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  background-color: #f9c6c7;
  padding: 10px;
}
.grid-item {
  background-color: rgba(249, 198, 199, 0.8);
  border: 0px solid rgba(249, 198, 199, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 125px;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    margin: 0 auto; /* Optional: Center the container horizontally */
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text within the grid item */
}

.grid-item img {
    height: 300px; /* Set image height to fill the grid item */
    margin-bottom: 10px;
    scale: 1 1; /* Add some space between the image and the button */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #070101;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #070101;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    margin: 20px auto; /* Optional: Center the container horizontally with margin */
}
    
/*#6c757d*/